{% extends "base.html"%}

{% load static %}

{% block title %}Food: {{ food.name }}{% endblock %}

{% block content %}

  <h2>{{ food.name }}</h2>
  <h4>{{ food.foodType }}</h4>
  <div>
  {% if food.image %}
    <div class="col-md-offset-4">
      <img  class="img-thumbnail" src="{{ food.image.url }}" >

    </div>
  {% endif %}
  {% if food.description %}
    <div>
      <p class="lh-1">Description: {{ food.description }}</p>
    </div>
  {% endif %}
  {% if food.price %}
    <p>Price: {{ food.price }}</p>
  {% endif %}
  </div>
  {% if user.is_staff %}
    <p>
      <a class="btn btn-primary" href="{% url 'foods:update' food.slug %}" role="button"> Update</a>
    </p>
  {% endif %}
{% endblock content %}



